/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*Chamando a fonte: font-family: 'Poppins', sans-serif;

/** 
* Folha de estilo customizada do site...
* @author: Heloísa Real, Mateus Felipe da Silveira Vieira, Anne dos Santos Ribeiro, Carolina Barbosa Pacífico de Almeida, Julie Missae Sanday, Maria Clara Gomes Gonçalves
*/

:root {
  --primary-green: #6b8a53;
  --detail-color: #7dad61;
  --contrast-color: #466633;
  --variant-color: #6b9453;

  --white: #fff;
  --black: #000;
}


h1,
h2,
h3,
h4,
h5,
h5,
p,
li {
  font-family: "Poppins", sans-serif;
}

/* Layout */
.flexFooter {
  display: flex;
  flex-direction: column-reverse;
}

/** Banner **/
main {
  background-color: #466633;
}


.items {
  color: var(--primary-green);
  opacity: 70%;
}

.items:hover {
  transform: 1s; /* Olhar Transform */
  font-family: "Poppins", sans-serif;
  opacity: 100%;
}

.destaque {
  height: 50vh;
}

.conteudo {
  background-color: #466633;
}

li.nav-item {
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}

.link1:hover {
  transition: 0.4s !important;
  opacity: 70% !important;
  font-family: "Poppins", sans-serif !important;
}

.link2 {
  background-color: var(--detail-color) !important;
  color: var(--white) !important;
  font-family: "Poppins", sans-serif !important;
}

.link2:hover {
  transition: 0.4s;
  opacity: 70%;
  font-family: "Poppins", sans-serif !important;
}

.descricao {
  border: 20px solid #fff;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

/*Banner*/
.descricaoreddito {
  border: 20px solid #ffffff;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.titulo {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #466633;
}

.subtitulo {
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  opacity: 90%;
  color: #6b9453;
}

/*Formulário*/
.informacoes {
  font-size: 18px;
  font-weight: bold;
}

.inputsperfil {
  font-size: 15px;
}

/*Biografia*/
.green-border-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25);
}

.alertaform {
  font-size: 13px;
  color: #de3c2f;
}

.semlogin {
  margin-top: 12px;
}

/*Footer*/
footer {
  padding: 50px 0px;
  background-color: #6b8a53;
  color: #fff;
  text-align: center;
}

.textofooter {
  padding: 15px;
}

.pmaiordofooter,
.pmenordofooter {
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.pmaiordofooter {
  font-size: 14px;
}

.pmenordofooter {
  font-size: 12px;
  opacity: 90%;
  letter-spacing: 1px;
}

#social {
  margin-bottom: 25px;
}


.lwi {
  width: 85px;
  height: auto;
}

.lrwi{
  width: 100px;
}


.instagram,
.facebook,
.youtube {
  margin-bottom: 5px;
}

/* Smartphone Landscape */
@media (min-width: 400px) {
  /*Banner*/
  main {
    height: 100vh;
  }

  /* Rodapé */
  .flexFooter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #social {
    margin: 0;
  }

  .nav-item {
    margin-top: 15px;
  }

  .descricaoreddito {
    margin: 10px;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) {
  /*
    body {
        background-color: #ff00c8;
        color: #ffffff;
    }
    */
}

/* Tablet Landscape */
@media (min-width: 992px) {
  /*
    body {
        background-color: #fff; 
        color: #000;               
    }
    */
}

/* Notebooks/PCs/SmartTV */
@media (min-width: 1200px) {
  /*
    body {
        background-color: #fff;      
    }
    */
}
