/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  text-align: center;
  margin-top: 50px;
}

li.nav-item {
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.link1 {
  border: 2px solid !important;
  border-color: #7dad61 !important;
  color: #7dad61 !important;
  font-family: "Poppins", sans-serif !important;
}

.link1:hover {
  transition: 0.4s !important;
  opacity: 70% !important;
  font-family: "Poppins", sans-serif !important;
}

.link2 {
  background-color: #7dad61 !important;
  color: #fff !important;
  font-family: "Poppins", sans-serif !important;
}

.link2:hover {
  transition: 0.4s !important;
  opacity: 70% !important;
  font-family: "Poppins", sans-serif !important;
}


.escrita {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

img {
  margin-top: 1em;
  width: 23em;
}

.imagemm {
  text-align: center;
}

/*Mobile Phone*/
@media (min-width: 400px) {
  img {
    width: 10rem;
  }
}
