/** @format */

@use "./reset.scss"; /* Resetando as configurações por segurança */
@use "./bootstrap/bootstrap.scss"; /* Importando bootstrap*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /*Chamando a fonte: font-family: 'Poppins', sans-serif;

/** 
* Folha de estilo customizada do site...
* @author: Heloísa Real, Anne dos Santos Ribeiro, Carolina Barbosa Pacífico de Almeida,  Julie Missae Sanday, Maria Clara Gomes Gonçalves, Mateus Felipe da Silveira Vieira 
*/

/* Criando variaveis costumizadas*/

$primary-green: #6b8a53;
$detail-color: #7dad61;
$contrast-color: #466633;
$variant-color: #6b9453;

$white: #fff;
$black: #000;

$default-font: "Poppins";

$img-banner-w: 60vh;

::selection {
  color: $white;
  background-color: $contrast-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  font-family: $default-font, cursive;
}
/* Layout */
.flexFooter {
  @extend .d-flex;
  @extend .flex-row;
}

/** Banner **/
main {
  background: url("../Images/imagem-fundo.png");
  height: 50px;
  background-size: cover;
  background-position: center;
}

.item {
  color: $primary-green;
  opacity: 70%;
}

.item:hover {
  transform: 1s;
  font-family: $default-font, sans-serif;
  opacity: 100%;
}

.conteudo {
  background: url("../Images/fundo.png");
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
}

li.nav-item {
  padding-left: 20px;
  font-family: $default-font, sans-serif;
}

li.nav-item .nav-link {
  color: $primary-green;
}

li.nav-item .nav-link:hover {
  color: $detail-color !important;
}

li.nav-item #item1 {
  color: $contrast-color !important;
}

.link1 {
  border: 2px solid !important;
  border-color: $detail-color !important;
  color: $detail-color !important;
  font-family: $default-font, sans-serif;
}

.link1:hover {
  transition: 0.4s !important;
  opacity: 70% !important;
  font-family: $default-font, sans-serif !important;
}

.link2 {
  background-color: $detail-color !important;
  color: $white !important;
  font-family: $default-font, sans-serif !important;
}

.link2:hover {
  background-color: $detail-color !important;
  transition: 0.4s !important;
  opacity: 70% !important;
  font-family: $default-font, sans-serif !important;
}

.descricao {
  border: 20px solid $white;
  background-color: $white;
  font-family: $default-font, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
}

/*Banner*/
.descricaoreddito {
  border: 20px solid $white;
  background-color: $white;
  border-radius: 10px;
  padding: 15px;
}

.titulo {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $default-font, sans-serif;
  color: $contrast-color;
}

.subtitulo {
  text-align: center;
  font-size: 1.125rem;
  font-family: $default-font, sans-serif;
  font-weight: 600;
  opacity: 90%;
  color: $variant-color;
}

.explicacao {
  text-align: justify;
  font-family: $default-font, sans-serif;
  margin-top: 10px;
}
.logo {
  width: 85px;
}

.div-max {
  max-width: $img-banner-w;
}

#cadastrereceitas {
  background-color: $detail-color;
  color: $white;
  font-family: $default-font, sans-serif;
  border: none;
}

#cadastrereceitas:hover {
  transform: 0.4s;
  font-size: 1.25rem;
  opacity: 90%;
  font-family: $default-font, sans-serif;
}

/*Cards*/
.card-title {
  font-weight: bold;
}

.listinha {
  margin-bottom: 15px;
}

.configlista {
  font-size: 12px;
  font-weight: bold;
}

#maispopulares {
  font-family: $default-font;
}

#populares {
  font-family: $default-font sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.fixedcard {
  padding: 15px;
}

.card-group {
  padding: 100px;
  padding-top: 0;
}

#saibamais {
  font-family: $default-font sans-serif;
}

/*Receita do dia*/
#dia {
  font-family: $default-font sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

/*Footer*/
footer {
  padding: 50px 0px;
  background-color: $primary-green;
  color: $white;
  text-align: center;
}

.textofooter {
  padding: 15px;
}

.pmaiordofooter,
.pmenordofooter {
  text-align: justify;
  font-family: $default-font, sans-serif;
}

.pmaiordofooter {
  font-size: 14px;
}

.pmenordofooter {
  font-size: 12px;
  opacity: 90%;
  letter-spacing: 1px;
}

#social {
  margin-bottom: 25px;
}

.instagram,
.facebook,
.youtube {
  margin-bottom: 5px;
}

/* Smartphone Landscape */
@media (min-width: 400px) {
  /*Banner*/
  main {
    height: 100vh;
  }

  .collap-ajuste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  /* Rodapé */
  .flexFooter {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #social {
    margin: 0;
  }

  .nav-item {
    margin-top: 15px;
  }

  .descricaoreddito {
    margin: 10px;
  }
}
