## Removendo node_modules

/node_modules


## Removendo as Variaveis de ambiente

*.env


## Removendo Scripts de Automatização (Mateus)

*.sh


## Removendo Minhas Notas Pessoais (Mateus)

notas.txt

