  <!-- Rodapé -->
  <footer class="container-fluid">
    <div class="container flexFooter flex-wrap">
      <div class="img">
        <img class="border border-white rounded logo" src="/Images/RedditoLogo1.png" alt="Reddito Logo">
      </div>
      <div class="textofooter">
        <p class="pmaiordofooter text-center">Copyright &#169; 2022 Anne Ribeiro, Carolina Almeida, Heloísa Real, Julie Sanday, Maria Gonçalves, Mateus Vieira </p>
        <p class="pmenordofooter text-center">Reddito, distribuido de forma Open Source e gratuita pela licença MIT, <strong>Site ficticio com finalidade acadêmica.</strong></p>
      </div>
      <div id="social">
        <a href="pag-continuidade.html" target="_blank"><img src="/Images/instagram.png" alt="Instagram" class="instagram"></a>
        <a href="pag-continuidade.html"><img src="/Images/facebook.png" alt="Facebook" class="facebook"></a>
        <a href="pag-continuidade.html"><img src="/Images/youtube.png" alt="YouTube" class="youtube"></a>
      </div>
    </div>
  </footer>