<form action="/create" method="post">
    <input type="text" name="titulo" id="">
    <input type="hidden" name="email" id="">
    <input type="text" name="descricao" id="">
    <input type="number" name="porcoes" id="">
    <input type="text" name="ingredientes" id="">
    <textarea name="preparo" id="" cols="30" rows="10"></textarea>

    <input type="submit" value="log">
</form>